@model IEnumerable<HardwareListViewModel>
@{
    ViewData["Title"] = "Hardware";
}
<h1>Hardware</h1>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Přidat hardware</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Název 🎮</th>
            <th>Rok vzniku 🧑‍💻</th>
            <th>Výrobce 🏭</th>
            <th>Stav 🏋️‍</th>
            <th>Pobočka 🕹️</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hardware in Model)
        {
            <tr>
                <td><a asp-action="Detail" asp-route-id="@hardware.Id">@hardware.Name</a></td>
                <td>@hardware.YearOfManufactured</td>
                <td>@hardware.Manufacturer</td>
                <td>@hardware.Condition</td>
                <td><a href="/branches/detail/@hardware.BranchId">@hardware.BranchName</a></td>
            </tr>
        }
    </tbody>
</table>

