@model SoftwareDTO
@{
    ViewData["Title"] = "Opravdu chcete smazat hru?";
}

<h1 class="text-danger text-lg-center">@ViewData["Title"]</h1>

<p><strong>Rok vydání:</strong> @Model.Year</p>
<p><strong>Platforma:</strong> @Model.PlatformName</p>
<p><strong>Podrobnosti:</strong> @Model.Description</p>

<div>
    <form method="post">
        <a class="btn btn-success" asp-action="Detail" asp-route-id="@Model.Id">🔙 Ne, zpět na detail</a>

        <button class="btn btn-danger btn-sm" type="submit" asp-action="DeleteSubmit" asp-route-id="@Model.Id">❌ Smazat</button>
    </form>
</div>