@model RoleEdit
@{
    ViewData["Title"] = "Edit Role";
}

<h1 class="bg-info text-white">Edit Role</h1>
<a asp-action="Index" class="btn btn-outline-secondary">🔙 Back to roles</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="RoleId" value="@Model.Role.Id" />
    <h2 class="bg-info p-1 text-white">Add to @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0) {
            <tr><td>All users are members.</td></tr>
        }
        else {
            @foreach (AppUser user in Model.NonMembers) {
                <tr>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id" />
                    </td>
                    <td>@user.UserName</td>
                </tr>
            }
        }
    </table>
    <h2 class="bg-info p-1 text-white">Remove from @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0) {
            <tr><td>No user is member.</td></tr>
        }
        else {
            @foreach (AppUser user in Model.Members) {
                <tr>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id" />
                    </td>
                    <td>@user.UserName</td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-outline-primary">💾 Save Changes</button>
</form>