@model BranchDTO

@{
    ViewData["Title"] = "Opravdu chcete smazat poboočku?";
}


<h1 class="text-danger text-lg-center">@ViewData["Title"]</h1>


<h2>@Model.Name</h2>


<p><strong>Město:</strong> @Model.Town</p>
<p><strong>Adresa:</strong> @Model.Street</p>
<p><strong>E-mail:</strong> @Model.Email</p>
<p><strong>Telefon:</strong> @Model.PhoneNumber</p>
<p><strong>Další informace:</strong> @Model.Note</p>
<div>
    <form method="post">
    <a class="btn btn-success" asp-action="Detail" asp-route-id="@Model.Id">🔙 Ne, zpět na detail</a>

        <button class="btn btn-danger btn-sm" type="submit" asp-action="DeleteSubmit" asp-route-id="@Model.Id">❌ Smazat</button>
    </form>
</div>