@using SkainRetroMuseumWebApp.DTO
@model IEnumerable<BranchDTO>
@{
    ViewData["Title"] = "Branches";
}
<h1>Pobočky</h1>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Přidat pobočku</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Město 🏢</th>
            <th>Adresa 📬</th>
            <th>Email 📧</th>
            <th>Telefón ☎️</th>
            <th>Poznámka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.Name</td>
                <td>@branch.Town</td>
                <td>@branch.Street</td>
                <td>@branch.Email</td>
                <td>@branch.PhoneNumber</td>
                <td>@branch.Note</td>
            </tr>
        }

</table>