@model IEnumerable<BranchDTO>
@{
    ViewData["Title"] = "Pobočky";
}
<h1>Pobočky</h1>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Přidat pobočku</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>🏰</th>
            <th>Město 🏢</th>
            <th>Adresa 📬</th>
            <th>Email 📧</th>
            <th>Telefón ☎️</th>
            <th>Poznámka 📒</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.Name</td>
                <td><a asp-action="Detail" asp-route-id="@branch.Id">🔎</a></td>
                <td>@branch.Town</td>
                <td>@branch.Street</td>
                <td>@branch.Email</td>
                <td>@branch.PhoneNumber</td>
                <td>@((@branch.Note?.Length ?? 0) > 40 ? @branch.Note?.Substring(0, 40) + "..." : @branch.Note) </td>
            </tr>
        }

</table>